html, body{
  height: 100%;
}

#wrapper {
  height:100%;
  width:100%;
}

#mainNav {
  background:black;
  border-color: black;
}

#cover {
  width:100%;
  height:100vh;
}

#team {
  display:none;
}
.cover-bg-one {
  background: #6f0000;
}

.cover-bg-two {
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #780206 , #061161); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #780206 , #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-bg-three {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000428 , #004e92); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000428 , #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.cover-bg-five {
  background: #0B486B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0B486B , #F56217); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0B486B , #F56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.cover-bg-six {
  background: #44A08D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #44A08D , #093637); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #44A08D , #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-bg-seven {
  background: #6A9113; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141517 , #6A9113); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141517 , #6A9113); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-bg-eight {
  background: #5A3F37; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5A3F37 , #2C7744); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5A3F37 , #2C7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-bg-nine {
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-bg-ten {
  background: #1D4350; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1D4350 , #A43931); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1D4350 , #A43931); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cover-bg-eleven {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #200122 , #6f0000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #200122 , #6f0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.cover-bg-twelve {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /
}


.cover-bg-thirteen {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#features {
  height:58vh;
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);


}

#story {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #200122 , #6f0000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #200122 , #6f0000); /* W3C, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/*/
  width:100%;
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  position:fixed;
  height:40px;
  bottom: 0px;
  width: 100%;
  background:black;

}

#story .comics img {
  width:100%;
}

#story .comics {


}

.content {
  width:100%;
  display:block;
}

.message {
  width:100$;
  display:block;
  margin:0 auto;
}

.header-image {
  width: 181px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 122px;

}
.fa-caret-down{
display: block;
margin-top: 165px;
text-align: center;
color: gold;
font-size: 12px;
}

.login {
  display: block;
  margin: 0 auto;
  margin-top: -61px;
  border-radius: 50%;
  height: 25px;
  background: #fceabb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fceabb , #f8b500); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fceabb , #f8b500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 2px;
  -webkit-transition: all 0.1s;
   -moz-transition: all 0.1s;
   transition: all 0.1s;

   -webkit-box-shadow: 0px 4px 0px #DAA520;
   -moz-box-shadow: 0px 4px 0px #DAA520;
   box-shadow: 0px 4px 0px #DAA520;
}

.login:active{
 -webkit-box-shadow: 0px 2px 0px #DAA520;
 -moz-box-shadow: 0px 2px 0px #DAA520;
 box-shadow: 0px 2px 0px #DAA520;
 position:relative;
 top:4px;
}

.section-heading {
  margin-top: 0;
  font-size: 33px;
  font-family: Gotham, Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 200;
  text-tranform: uppercase;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.feature-message {
  text-align:center;
  width:100%;
  color:white;
  padding-top:130px;
  height:100%;
}

#contact {
  height:60vh;
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}

.message-fly {
  text-align: center;
  padding-top: 86px;
  text-transform: uppercase;
  font-size: 26px;
  font-family: gotham, Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;

}

.feature-product {
  width:100%;
  display:block;
  text-align:center;
  color:white;
}

.sub-header {
  font-family: gotham,Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.preview {
  background: #333;
  border-radius: 10px;
  font-family: Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 5px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top:10px;
  border: #fdcc52;
  border-style: solid;
  border-width: 2px;
  color:white;
}

#social-media {
  height:30vh;
  background: #200122;
  background: -webkit-linear-gradient(to left, #200122 , #6f0000);
  background: linear-gradient(to left, #200122 , #6f0000);
  display:none;
}

.fadeInBlock {
  opacity:0;
}

#footer-fade {
  opacity:0;
}
/*--------------- Iphone 4------------------   */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .feature-message {
    padding-top:125px;
  }

  .message-fly {
    padding-top:86px;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (min-device-height: 520px)
  and (max-device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .fa-caret-down {
      margin-top: 195px;
   }
   .header-image {
     width: 233px;
     padding-top: 123px;
   }
   #features {
     height:53vh;
   }

   .message-fly {
     padding-top: 103px;
   }
}
/* Landscape */
/*--------------IPHONE 6---------------*/
@media only screen
  and (min-device-width: 375px)
  and (min-device-height: 600px)
  and (max-device-height: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .header-image {
      width: 245px;
      height: auto;
      display: block;
      margin: 0 auto;
      padding-top: 162px;
    }
    #features{
      height:48vh;
    }

    #contact {
      height:52vh;
    }
    .message-fly {
      font-size: 30px;
      padding-top: 106px;

    }

    .fa-caret-down {
      margin-top:241px;
    }

    .sub-header {
      font-size:14px;
    }
  }

  /*--------------IPHONE 6 Plus---------------*/
  @media only screen
    and (min-device-width: 400px)
    and (max-device-width: 450px)
    and (min-device-height: 700px)
    and (max-device-height: 737px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .header-image {
        width:302px;
        padding-top:173px;
      }

      .fa-caret-down {
        margin-top:262px;
      }

      #features {
        height:43vh;
      }

      #contact {
        height:49vh;
      }

      .message-fly {
        font-size:33px;
        padding-top: 106px;
      }
      .sub-header {
        font-size:15px;
      }
    }

    /*-----Samsung---------------*/
    @media only screen
      and (min-device-width: 360px)
      and (max-device-width: 370px)
      and (min-device-height: 630px)
      and (max-device-height: 650px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        .fa-caret-down {
          margin-top: 232px;
        }
        #features {
          height:50vh;
        }

        #contact {
          height:49vh;
        }
        .message-fly {
          font-size:28px;
        }
        .sub-header {
          font-size:14px;
        }
        .header-image {
          width:253px;
          padding-top:140px;
        }
      }

  #hero {
      display:none;
    }

    #feature-set {
      display:none;
      background:white;
      font-family:gotham;
    }

  @media only screen and (min-device-width:768px) {
    #hero {
      display:block;
    }

    #feature-set {
      display:block;
    }

    .navbar-default .navbar-nav > li > a {
      font-size:12px;
    }

    .sub-slider-text {
      font-size: 16px;
    }

    #slider .block h2 {
      font-size:62px;
    }

    #contact {
      display:none;
    }

    #cover {
      height:50vh;
    }
    .header-image {
      width:181px;
      padding-top: 57px;
    }
    #features {
      height:100vh;
    }
    .login {
      display:none;
    }

    .fa-caret-down {
      display:none;
    }

    .comics {
      display:none;
    }
    .feature-message {
      height:100%;
      padding-top:70px;
    }

    .section-heading {
      padding-bottom:70px;
      font-size:50px;
      padding-top:70px;
    }

    .feature-heading {
      font-size: 50px;
      padding-top: 91px;
      text-transform:uppercase;
      padding-bottom:90px;
    }

    .text-primary {
     color: #fdcc52;
    }

    .feature-item {
      max-width:300px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 100px;

    }

    #feature-line {
      width:75%;
      display:block;
      margin:0 auto;
    }

    #team {
      display:block;
    }

    #mainNav {
      height:50px;
    }

    footer {
      height:50px;
    }

    #features{
      height:30vh;
      display:none;
    }

    #social-media {
      height:30vh;
      background: #fdcc52;
      background: -webkit-linear-gradient(#fdcc52, #fdc539);
      background: linear-gradient(#fdcc52, #fdc539);
    }
  }

  .carousel-inner > .item > img {
    max-width: 88%;
    padding-bottom:100px;
}
.team-message {
  color:white;
  text-align:center;
  padding-bottom: 30px;
}
.boy-drawing {
  padding-left:50px;
  max-width: 88%;
  padding-bottom:50px;
}

.linkedin {
  width: 52px;
  padding-bottom: 50px;
}

.team {
  width: 167px;
  margin-top: -30px;
  margin-bottom: 35px;
  border-radius: 15px;
}
